/* ================= RESET ================= */

:root {
    --color-blue: #2A3180;
    --color-selection: #FFFF00;
    --color-light-blue: #F4F5FF;
    --color-green: #7AFFAF;
    --margin-tool: 2vw;
    --border-blue-regular: 1px solid var(--color-blue);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: var(--color-blue);
    height: max-content;
    font-weight: 300;
}

a, button {
    font-size: 1rem;
    text-align: left;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

h1,
h2,
h3,
span {
    font-weight: 500;
}

h1 {
    font-size: 1.875rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
    margin-bottom: .5rem;
}

p {
    font-size: .75rem;
}

input {
    cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    border: var(--border-blue-regular);
    background-color: transparent;
}

input[type="radio"] {
    border-radius: 1rem;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked{
    background-color: var(--color-blue);
}

/* =================================== */
/* ================= START ================= */
/* =================================== */

/* ================= HEADER ================= */

.search,
.selection {
    height: 3rem;
    overflow: hidden;
    border-bottom: var(--border-blue-regular);

    transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
}

.search__btn,
.selection__btn {
    width: 100%;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropDown {
    transform: rotate(0deg);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.dropDown--close {
    transform: rotate(180deg);
}

.search--open,
.selection--open {
    height: 100vh;
}

/* ================= SEARCH ================= */

.search {
    position: fixed;
    top: 0;
    left: 0;
    width: 75vw;
    background-color: var(--color-light-blue);
}

.search__btn,
.search__content {
    padding-left: 2vw;
}

.search__btn {
    padding-right: 3vw;
}

.search__content {
    margin-top: 3rem;
}

.search__wrapper {
    opacity: 1;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .53 ease;
}

.search__title--practices {
    margin: 4rem 0;

}

.search__list--practices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
}

.search__filter {
    background-color: #fff;
}

.group__title {
    margin-bottom: 1rem;
}

.search__filters {
    width: max-content;
    margin: 1rem 0;
}

.filters__wrapper {
    display: flex;
    width: max-content;
    align-items: center;
    margin-bottom: .5rem;
}

.filters__wrapper--selection {
    padding-top: 1rem;
    border-top: var(--border-blue-regular);
}

/* ================= SELECTION ================= */

.selection {
    position: fixed;
    top: 0;
    right: 0;
    width: 25vw;
    padding-left: 2vw;
    box-sizing: border-box;
    border-left: var(--border-blue-regular);
    background-color: var(--color-selection);
}

.selection__btn {
    display: flex;
    justify-content: space-between;
}

.selection__content {
    margin-top: 3rem;
}

.selection__content h2 {
    margin-bottom: 1rem;
}

.selection__filter,
.selection__tool {
    border: var(--border-blue-regular);
    margin-bottom: .5rem;
}

.selection__filter span,
.selection__tool span {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

/* ================= GRID / TOOLS ================= */

.tools {
    display: grid;
    width: calc(75vw - 3rem);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 6rem 1rem;
}

.tool {
    outline: var(--border-blue-regular);
    height: max-content;
    box-sizing: content-box;
}
.tool:hover {
    outline: 3px solid var(--color-blue);
}
.tool--selected {
    background-color: var(--color-selection);
}

.tool h3,
.tool h2,
.tool p,
.tool ul {
    margin-left: 1vw;
    margin-right: 1vw;
}

.tool__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-blue-regular);
    padding: 1vw;
}

.tool__indicators {
    display: flex;
    justify-content: right;
    width: 4rem;
}

.tool__summary {
    padding-top: 2vw;
}

.summary__fonction {
    margin-bottom: 2vw;
}

.summary__tags {
    margin: 2vw 0;
}

.summary__tag {
    background-color: var(--color-light-blue);
}

.summary__tag--active {
    background-color: var(--color-selection);
}

.pros,
.cons {
    border-top: var(--border-blue-regular);
}

.pros__btn,
.cons__btn {
    width: 100%;
}

.pros__title,
.cons__title {
    padding: 1vw;
    font-weight: 500;
}

/* ================= GENERIC ================= */

.unvisible {
    opacity: 0;
}

.picto {
    max-width: 2rem;
    max-height: 2rem;
}

.plus {
    max-width: 1rem;
    max-height: 1rem;
    margin-right: .5rem;
}

.--tagBtn {
    display: flex;
    align-items: center;
    padding: .5rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
    width: max-content;
    white-space: nowrap;
}

.hide {
    display: none;
}

.mobileLock,
.selectionLock {
    display: none !important;
}